@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:ital,wght@0,300;0,400;0,900;1,800&family=Open+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Merienda", cursive;
  scroll-behavior: smooth;
}

.working-time {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 1vh 1vw;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}
@media (max-width: 505px) {
  .working-time {
    width: 100%;
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .working-time {
    width: 100%;
    font-size: 0.9rem;
  }
}
.working-time_time {
  display: flex;
}
.working-time_social {
  display: flex;
}
@media (max-width: 505px) {
  .working-time_social {
    display: none;
  }
}
.working-time_social i {
  padding: 1vh 1vw;
  font-size: 20px;
  cursor: pointer;
}
.working-time_social i:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-left: 1vw;
  margin: 0 auto;
  background-color: #8ec63f;
}
@media (max-width: 505px) {
  .main-nav {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .main-nav {
    width: 100%;
  }
}
.main-nav_logo {
  display: flex;
  justify-content: center;
}
.main-nav_logo span {
  display: none;
}
.main-nav .nav-menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: clamp(1em, 1vw, 4rem);
}
@media (max-width: 505px) {
  .main-nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 20vh;
    gap: 0;
    flex-direction: column;
    background: #8ec63f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }
  .main-nav .nav-menu.active {
    left: 0;
  }
}
.main-nav .nav-menu .nav-link {
  cursor: pointer;
  padding: 0 1vw;
}
@media (max-width: 505px) {
  .main-nav .nav-menu .nav-link {
    margin: 16px 0;
  }
}
.main-nav .nav-menu .nav-link a {
  color: white;
  text-transform: uppercase;
}
.main-nav .nav-menu .nav-link a:hover {
  color: yellow;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 0 20px;
}
@media (max-width: 505px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/Images/header.jpg") no-repeat center center/cover;
  height: 100vh;
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
  header {
    height: 150vh;
  }
}

#booking {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 505px) {
  #booking {
    flex-direction: column;
    width: 100%;
    top: 62% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
  #booking {
    flex-direction: column;
    width: 100%;
    top: 90% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  #booking {
    flex-direction: column;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 2160px) {
  #booking {
    top: 45% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#booking .text {
  color: white;
  width: 70%;
}
@media (min-width: 506px) and (max-width: 768px), (orientation: portrait) {
  #booking .text {
    width: 50%;
    text-align: center;
    padding-bottom: 5vh;
  }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
  #booking .text {
    width: 50%;
    text-align: center;
    padding-bottom: 5vh;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  #booking .text {
    width: 100%;
    text-align: center;
    padding-bottom: 5vh;
  }
}
#booking .text_promo {
  color: #8ec63f;
  font-size: clamp(1.3em, 2vw, 5rem);
}
#booking .text_title {
  font-size: clamp(1.8rem, 5vw, 7rem);
}
#booking .text_title span {
  color: #8ec63f;
}
#booking .text_info {
  font-size: clamp(1em, 1.5vw, 4.5rem);
  padding-bottom: 4vh;
  width: 60%;
}
@media (max-width: 505px) {
  #booking .text_info {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  #booking .text_info {
    text-align: center;
    width: 100%;
    text-align: center;
    padding-left: 20px;
  }
}
#booking .text_btn {
  margin: 0 auto;
}
#booking .text_btn-start {
  width: 30%;
  padding: 2vh 2vw;
  border-radius: 20px;
  outline: none;
  background: #8ec63f;
  border: 2px solid #8ec63f;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: clamp(0.8rem, 1.2vw, 3.5rem);
}
@media (max-width: 505px) {
  #booking .text_btn-start {
    width: 40%;
  }
}
#booking .text_btn-start:hover {
  background-color: transparent;
  color: #8ec63f;
  border: 2px solid #8ec63f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#booking .text_btn-menu {
  width: 30%;
  padding: 2vh 2vw;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(0.8rem, 1.2vw, 3.5rem);
}
@media (max-width: 505px) {
  #booking .text_btn-menu {
    width: 40%;
  }
}
#booking .text_btn-menu:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#booking .table {
  width: 40%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem 0;
}
@media (max-width: 505px) {
  #booking .table {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  #booking .table {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1vh;
  }
}
#booking .table_title {
  color: white;
  padding-bottom: 1rem;
  font-size: clamp(0.8rem, 1.2vw, 4rem);
}
#booking .table form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 505px) {
  #booking .table form {
    padding-bottom: 20px;
  }
}
#booking .table form input {
  padding: 2vh 2vw;
  margin: 1vh 0;
  font-size: clamp(0.8rem, 1.2vw, 4rem);
  border-radius: 15px;
  background: transparent;
  color: white;
  border: 1px solid grey;
}
#booking .table form select {
  padding: 2vh 2vw;
  margin: 1vh 0;
  font-size: clamp(0.8rem, 1.2vw, 4rem);
  border-radius: 15px;
  background: transparent;
  color: white;
  border: 1px solid grey;
}
#booking .table form select > option {
  color: black;
}
#booking .table form .btn_submit {
  width: 100%;
  padding: 2vh 2vw;
  border-radius: 15px;
  outline: none;
  margin: 0 auto;
  background: #8ec63f;
  border: 2px solid #8ec63f;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: clamp(0.8rem, 1.2vw, 3.5rem);
}
#booking .table form .btn_submit:hover {
  background-color: transparent;
  color: #8ec63f;
  border: 2px solid #8ec63f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.special {
  padding: 5vh 2vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/Images/background-pattern-dark.jpg") no-repeat center center/cover;
  color: white;
}
.special_info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-size: clamp(0.8rem, 1.2vw, 4rem);
}
@media (max-width: 505px) {
  .special_info {
    flex-direction: column;
    font-size: 0.8rem;
  }
}
.special_info span {
  color: red;
}
.special_info .fullMenu {
  font-size: clamp(0.8rem, 1.2vw, 4rem);
  color: #8ec63f;
  padding-bottom: 1vh;
  border-bottom: 2px solid #8ec63f;
}
@media (max-width: 505px) {
  .special_info .fullMenu {
    font-size: 1rem;
    width: 30%;
    margin: 0 auto;
    padding-top: 2vh;
  }
}
.special_info .fullMenu:hover {
  color: white;
  border-bottom: 2px solid gray;
  transition: 0.1s ease-in;
}

#aboutUs {
  background-color: #fff;
  padding-bottom: 15vh;
}

.delivery-wrrap {
  display: flex;
  justify-content: space-evenly;
  padding: 10vh 2vw 0 2vw;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 505px) {
  .delivery-wrrap {
    flex-direction: column;
  }
}
.delivery-wrrap .image > img {
  width: 40vw;
}
@media (max-width: 505px) {
  .delivery-wrrap .image > img {
    object-fit: contain;
  }
}
.delivery-wrrap .delivery-offer {
  width: 40%;
}
@media (max-width: 505px) {
  .delivery-wrrap .delivery-offer {
    width: 90%;
    padding-top: 2vh;
  }
}
.delivery-wrrap .delivery-offer_promo {
  color: #8ec63f;
  font-size: clamp(0.8em, 2vw, 4rem);
}
.delivery-wrrap .delivery-offer_title {
  font-size: clamp(1rem, 5vw, 5rem);
}
@media (max-width: 505px) {
  .delivery-wrrap .delivery-offer_title {
    margin: 10px 0;
  }
}
.delivery-wrrap .delivery-offer_title span {
  color: #8ec63f;
}
.delivery-wrrap .delivery-offer_text {
  font-size: clamp(0.8em, 1.2vw, 3.5rem);
  padding-bottom: 4vh;
  width: 90%;
}
.delivery-wrrap .delivery-offer_btn {
  padding: 2vh 2vw;
  border-radius: 20px;
  outline: none;
  background: #8ec63f;
  border: 2px solid #8ec63f;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}
@media (max-width: 505px) {
  .delivery-wrrap .delivery-offer_btn {
    margin-left: 25px;
  }
}
.delivery-wrrap .delivery-offer_btn:hover {
  background-color: transparent;
  color: #8ec63f;
  border: 2px solid #8ec63f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.food-wrraper {
  display: flex;
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
  -webkit-box-shadow: 6px 6px 5px -2px #b3b3b3;
  box-shadow: 6px 6px 5px -2px #b3b3b3;
}
@media (max-width: 505px) {
  .food-wrraper {
    flex-direction: column;
    margin-top: 10px;
    -webkit-box-shadow: 6px 6px 15px -2px #b3b3b3;
    box-shadow: 6px 6px 15px -2px #b3b3b3;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .food-wrraper {
    flex-direction: column;
    margin-top: 10px;
    -webkit-box-shadow: 6px 6px 15px -2px #b3b3b3;
    box-shadow: 6px 6px 15px -2px #b3b3b3;
  }
}
.food-wrraper_box {
  display: flex;
}
@media (max-width: 505px) {
  .food-wrraper_box {
    flex-direction: column;
  }
}
.food-wrraper_box img {
  width: 4vw;
}
@media (max-width: 505px) {
  .food-wrraper_box img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .food-wrraper_box img {
    width: 10vh;
  }
}
.food-wrraper_box-text {
  padding: 2vh 2vw;
}
.food-wrraper_box-text .title {
  font-size: clamp(1.2rem, 1.3vw, 4rem);
  padding-bottom: 1vh;
  font-weight: bold;
}
@media (max-width: 505px) {
  .food-wrraper_box-text .title {
    margin: 16px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .food-wrraper_box-text .title {
    font-size: 2rem;
  }
}
.food-wrraper_box-text .info {
  font-size: clamp(0.8rem, 1vw, 3rem);
  color: gray;
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .food-wrraper_box-text .info {
    font-size: 1.1rem;
  }
}

.pick {
  padding: 8vh 0;
  text-align: center;
}
.pick_promo {
  color: #8ec63f;
  font-size: clamp(1.1em, 1.5vw, 4rem);
}
.pick_title {
  font-size: clamp(2rem, 3vw, 5rem);
}
.pick_moto {
  font-size: clamp(1.4rem, 1.1vw, 3rem);
  color: gray;
}

.pick-options {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 505px) {
  .pick-options {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .pick-options {
    flex-direction: column;
  }
}
.pick-options_box {
  text-align: center;
}
.pick-options_box-img {
  width: 18vw;
}
@media (max-width: 505px) {
  .pick-options_box-img {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .pick-options_box-img {
    width: 50%;
  }
}
.pick-options_box-title {
  font-size: clamp(1.2rem, 1.2vw, 3rem);
  padding: 2vh 0;
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .pick-options_box-title {
    font-size: 2rem;
  }
}
.pick-options_box-text {
  font-size: clamp(1rem, 1vw, 2rem);
  color: gray;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4vh;
}
.pick-options_box-link {
  font-size: clamp(1rem, 1.2vw, 3rem);
  border-bottom: 3px solid lightgray;
  color: #000;
  text-transform: uppercase;
}
.pick-options_box-link:hover {
  color: #8ec63f;
}

.gallery {
  padding: 50px 0;
  overflow: hidden;
}
.gallery_img {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  column-gap: 10px;
  row-gap: 10px;
}
@media (min-width: 2160px) {
  .gallery_img {
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  }
}
.gallery_img img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  object-position: center;
  transition: 0.5s ease-in-out;
}
.gallery_img img:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery_popup-img {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
}
.gallery_popup-img span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.gallery_popup-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5pxx solid #fff;
  border-radius: 5px;
  width: 80%;
  height: 90%;
  object-fit: contain;
}

.g-2 {
  grid-column: span 2;
}
@media (max-width: 505px) {
  .g-2 {
    grid-column: span 1;
  }
}
@media (min-width: 1400px) and (max-width: 2160px), (orientation: portrait) {
  .g-2 {
    grid-column: span 1;
  }
}

.g-3 {
  grid-column: span 1;
}
@media (min-width: 2160px) {
  .g-3 {
    grid-column: span 2;
  }
}

.menu {
  padding: 8vh 0;
  text-align: center;
}
.menu_promo {
  color: #8ec63f;
  font-size: clamp(1em, 1.5vw, 4rem);
}
.menu_title {
  font-size: clamp(1.4rem, 3vw, 5rem);
}
.menu_moto {
  font-size: clamp(0.9em, 1.1vw, 3rem);
  color: gray;
}

.menu-wrraper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 10vh;
}
@media (max-width: 505px) {
  .menu-wrraper {
    padding-bottom: 5vh;
  }
}
.menu-wrraper_box {
  margin: 10px;
  text-align: center;
  width: 45%;
}
@media (max-width: 505px) {
  .menu-wrraper_box {
    width: 100%;
    padding: 0 2vh;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .menu-wrraper_box {
    width: 100%;
    padding: 0 2vh;
  }
}
.menu-wrraper_box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
}
.menu-wrraper_box-top embed {
  width: 3vw;
  justify-self: flex-start;
}
.menu-wrraper_box-top-title {
  font-size: clamp(1.2rem, 1.4vw, 3rem);
}
.menu-wrraper_box-top-price {
  font-size: clamp(1.2rem, 1.2vw, 2.6rem);
  font-weight: bold;
}
.menu-wrraper_box-info {
  font-size: clamp(0.8rem, 1.1vw, 2rem);
  color: gray;
  text-align: left;
  border-bottom: 1px solid gray;
  padding: 0 0 2vh 0;
}

.contact-wrraper {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
@media (max-width: 505px) {
  .contact-wrraper {
    flex-direction: column;
  }
}
.contact-wrraper_info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2vh 0;
}
.contact-wrraper_info-call {
  background-color: #8ec63f;
  width: fit-content;
  padding: 1vh 2vw;
  text-align: center;
  font-size: clamp(1.2rem, 1.2vw, 4rem);
}
@media (max-width: 505px) {
  .contact-wrraper_info-call {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .contact-wrraper_info-call {
    width: 100%;
  }
}
.contact-wrraper_info-phone {
  margin: 2vh 0;
  font-size: clamp(1.2rem, 1.5vw, 4rem);
}
.contact-wrraper_info-phone a {
  color: white;
}
.contact-wrraper_info-time {
  font-size: clamp(1.2rem, 1.5vw, 4rem);
}
.contact-wrraper_info-address {
  margin: 2vh 0;
  font-size: clamp(1.2rem, 1.5vw, 4rem);
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 16px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}

.contact-wrraper_map {
  width: 50%;
}
@media (max-width: 505px) {
  .contact-wrraper_map {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px), (orientation: portrait) {
  .contact-wrraper_map {
    margin: auto 0;
  }
}
@media (min-width: 1400px) and (max-width: 2160px), (orientation: portrait) {
  .contact-wrraper_map {
    margin: auto 0;
  }
}
@media (min-width: 2160px) {
  .contact-wrraper_map {
    margin: auto 0;
  }
}

footer {
  background-color: #8ec63f;
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding: 3vh 0;
  text-align: center;
}
footer a {
  color: black;
}
footer a:hover {
  color: white;
}

/*# sourceMappingURL=main.css.map */
