*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Merienda', cursive;
    scroll-behavior: smooth;
}

.load {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  
    &.fadeIn {
        opacity: 1;
        transform: translateX(0px);
        transition: all 350ms ease-out;
        transition-delay: 300ms;
    }
}