@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:ital,wght@0,300;0,400;0,900;1,800&family=Open+Sans:wght@600&display=swap');
@import "global";
@import "vars";
@import "mixins";
@import "layout/navigation";

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../Assets/Images/header.jpg") no-repeat center center/cover;
    height: 100vh;
}

#booking {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15vh;
    .text {
        color: white;
        width: 70%;

        &_promo {
            color: $mainGreen;
        }

        &_title {
            font-size: clamp(1rem, 4vw, 5rem);
        }

        &_info {
            font-size: clamp(0.8em, 1.5vw, 3.5rem);
            padding-bottom: 4vh;
            width: 60%;
        }
    }

    .btn_start {
        width: 30%;
        padding: 2vh 2vw;
        border-radius: 20px;
        outline: none;
        background: $mainGreen;
        border: 2px solid #8ec63f;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 0.8rem;

        &:hover {
            background-color: transparent;
            color: $mainGreen;
            border: 2px solid #8ec63f;
            transition: 0.2s ease-in;
        }
    }
    .btn_menu {
        width: 30%;
        padding: 2vh 2vw;
        border-radius: 20px;
        color: white;
        background-color: transparent;
        border: 2px solid white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;

        &:hover {
            background-color: white;
            color: rgba(0, 0, 0);
            border: 2px solid white;
            transition: 0.2s ease-in;
        }
    }

    .table {
        width: 30%;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        padding: 2rem 0;

        &_title {
            color: white;
            padding-bottom: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;

            input {
                padding: 2vh 2vw;
                margin: 1vh 0;
                font-size: 1rem;
                border-radius: 15px;
                background: transparent;
                color: white;
                border: 1px solid grey;
            }
            select {
                padding: 2vh 2vw;
                margin: 1vh 0;
                font-size: 1rem;
                border-radius: 15px;
                background: transparent;
                color: white;
                border: 1px solid grey;

                & > option {
                    color: black;
                }
            }

            .btn_submit {
                width: 100%;
                padding: 2vh 2vw;
                border-radius: 15px;
                outline: none;
                margin: 0 auto;
                background: $mainGreen;
                border: 2px solid #8ec63f;
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                font-size: 0.8rem;

                &:hover {
                    background-color: transparent;
                    color: $mainGreen;
                    border: 2px solid #8ec63f;
                    transition: 0.2s ease-in;
                }
            }
        }
    }
}
