#aboutUs {
    background-color: #fff;
    padding-bottom: 15vh;
}

// Free delivery and order phone

.delivery-wrrap {
    display: flex;
    justify-content: space-evenly;
    padding: 10vh 2vw 0 2vw;
    align-items: center;
    margin: 0 auto;
    @include eXSmall {
        flex-direction: column;
    }

    .image > img {
        width: 40vw;
        @include eXSmall {
            object-fit: contain;
        }
    }

    .delivery-offer {
        width: 40%;
        @include eXSmall {
            width: 90%;
            padding-top: 2vh;
        }

        &_promo {
            color: $mainGreen;
            font-size: clamp(0.8em, 2vw, 4rem);
        }

        &_title {
            font-size: clamp(1rem, 5vw, 5rem);
            @include eXSmall {
                margin: 10px 0;
            }

            span {
                color: $mainGreen;
            }
        }

        &_text {
            font-size: clamp(0.8em, 1.2vw, 3.5rem);
            padding-bottom: 4vh;
            width: 90%;
        }

        &_btn {
            padding: 2vh 2vw;
            border-radius: 20px;
            outline: none;
            background: $mainGreen;
            border: 2px solid #8ec63f;
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            font-size: 1rem;
            @include eXSmall {
               margin-left: 25px;
            }
            

            &:hover {
                background-color: transparent;
                color: $mainGreen;
                border: 2px solid #8ec63f;
                @include transition;
            }
        }
    }
}

// Location and values

.food-wrraper {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
    -webkit-box-shadow: 6px 6px 5px -2px #b3b3b3;
    box-shadow: 6px 6px 5px -2px #b3b3b3;
    @include eXSmall {
        flex-direction: column;
        margin-top: 10px;
        -webkit-box-shadow: 6px 6px 15px -2px #b3b3b3;
        box-shadow: 6px 6px 15px -2px #b3b3b3;
    }
    @include tablet {
        flex-direction: column;
        margin-top: 10px;
        -webkit-box-shadow: 6px 6px 15px -2px #b3b3b3;
        box-shadow: 6px 6px 15px -2px #b3b3b3;
    }

    &_box {
        display: flex;
        @include eXSmall {
            flex-direction: column;
        }

        img {
            width: 4vw;
            @include eXSmall {
                display: none;
            }
            @include tablet {
               width: 10vh;
            }
        }

        &-text {
            padding: 2vh 2vw;

            .title {
                font-size: clamp(1.2rem, 1.3vw, 4rem);
                padding-bottom: 1vh;
                font-weight: bold;
                @include eXSmall {
                    margin: 16px 0;
                }
                @include tablet {
                   font-size: 2rem;
                }
            }

            .info {
                font-size: clamp(0.8rem, 1vw, 3rem);
                color: gray;
                @include tablet {
                    font-size: 1.1rem;
                 }
            }
        }
    }
}

// Healthy options we offer from vegan to gluten free, text and title...

.pick {
    padding: 8vh 0;
    text-align: center;

    &_promo {
        color: $mainGreen;
        font-size: clamp(1.1em, 1.5vw, 4rem);
    }

    &_title {
        font-size: clamp(2rem, 3vw, 5rem);
 
    }

    &_moto {
        font-size: clamp(1.4rem, 1.1vw, 3rem);
        color: gray;
    
    }
}

// Container for box structure from offers and offers

.pick-options {
    width: 90%;
    margin: 0 auto;
    display: flex;
    @include eXSmall {
        flex-direction: column;
    }
    @include tablet {
        flex-direction: column;
    }

    &_box {
        text-align: center;

        &-img {
            width: 18vw;
            @include eXSmall {
                width: 50%;                                
            }
            @include tablet {
                width: 50%;                                
            }
        }

        &-title {
            font-size: clamp(1.2rem, 1.2vw, 3rem);
            padding: 2vh 0;
            @include tablet {
                font-size: 2rem;                                
            }
        }

        &-text {
            font-size: clamp(1rem, 1vw, 2rem);
            color: gray;
            width: 80%;
            margin: 0 auto;
            padding-bottom: 4vh;
       
        }

        &-link {
            font-size: clamp(1rem, 1.2vw, 3rem);
            border-bottom: 3px solid lightgray;
            color: #000;
            text-transform: uppercase;
        

            &:hover {
                color: $mainGreen;
            }
        }
    }
}
