header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../Assets/Images/header.jpg") no-repeat center center/cover;
    height: 100vh;
}

#booking {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include eXSmall {
        flex-direction: column;
        width: 100%;
    }

    .text {
        color: white;
        width: 70%;
        @include eXSmall {
            width: 90%;
            text-align: center;
            padding-bottom: 5vh;
        }

        &_promo {
            color: $mainGreen;
            font-size: clamp(1.1em, 2vw, 4rem);
        }

        &_title {
            font-size: clamp(2rem, 5vw, 5rem);

            span {
                color: $mainGreen;
            }
        }

        &_info {
            font-size: clamp(1em, 1.5vw, 3.5rem);
            padding-bottom: 4vh;
            width: 60%;
            @include eXSmall{
                text-align: center;
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    .btn_start {
        width: 30%;
        padding: 2vh 2vw;
        border-radius: 20px;
        outline: none;
        background: $mainGreen;
        border: 2px solid #8ec63f;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 0.8rem;
        @include eXSmall{
            width: 40%;
        }

        &:hover {
            background-color: transparent;
            color: $mainGreen;
            border: 2px solid #8ec63f;
            @include transition;
        }
    }
    .btn_menu {
        width: 30%;
        padding: 2vh 2vw;
        border-radius: 20px;
        color: white;
        background-color: transparent;
        border: 2px solid white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
        @include eXSmall{
            width: 40%;
        }

        &:hover {
            background-color: white;
            color: rgba(0, 0, 0);
            border: 2px solid white;
            @include transition;
        }
    }

    .table {
        width: 30%;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        padding: 2rem 0;
        @include eXSmall {
            width: 100%;
            padding: 0;
        }

        &_title {
            color: white;
            padding-bottom: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            @include eXSmall {
               padding-bottom: 20px;
            }

            input {
                padding: 2vh 2vw;
                margin: 1vh 0;
                font-size: 1rem;
                border-radius: 15px;
                background: transparent;
                color: white;
                border: 1px solid grey;
            }
            select {
                padding: 2vh 2vw;
                margin: 1vh 0;
                font-size: 1rem;
                border-radius: 15px;
                background: transparent;
                color: white;
                border: 1px solid grey;

                & > option {
                    color: black;
                }
            }

            .btn_submit {
                width: 100%;
                padding: 2vh 2vw;
                border-radius: 15px;
                outline: none;
                margin: 0 auto;
                background: $mainGreen;
                border: 2px solid #8ec63f;
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                font-size: 0.8rem;

                &:hover {
                    background-color: transparent;
                    color: $mainGreen;
                    border: 2px solid #8ec63f;
                    @include transition;
                }
            }
        }
    }
}
