.working-time {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 1vh 1vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    align-items: center;

    &_time {
        display: flex;
    }

    &_social {
        display: flex;

        i {
            padding: 1vh 1vw;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                -webkit-filter: brightness(70%);
                @include transition;
            }
        }
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-left: 1vw;
    margin: 0 auto;
    background-color: $mainGreen;

    &_logo {
        display: flex;
        justify-content: center;

        span {
            display: none;
        }
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: clamp(1em, 1vw, 5rem);

        li {
            cursor: pointer;
            padding: 0 1vw;

            a {
                color: white;
                text-transform: uppercase;

                &:hover {
                    color: yellow;
                }
            }
        }
    }
}
