.working-time {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 1vh 1vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    align-items: center;
    @include eXSmall {
       width: 100%;
       font-size: 0.7rem;
    }

    &_time {
        display: flex;
    }

    &_social {
        display: flex;
        @include eXSmall {
           display: none;
        }

        i {
            padding: 1vh 1vw;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                -webkit-filter: brightness(70%);
                @include transition;
            }
        }
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-left: 1vw;
    margin: 0 auto;
    background-color: $mainGreen;
    @include eXSmall {
        width: 100%;
    }
    

    &_logo {
        display: flex;
        justify-content: center;

        span {
            display: none;
        }
    }

    .nav-menu {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: clamp(1em, 1vw, 5rem);

        @include eXSmall {
            position: fixed;
            left: -100%;
            top: 17vh;
            gap: 0;
            flex-direction: column;
            background: $mainGreen;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            z-index: 1000;

            &.active{
                left: 0;
            }
        }

        .nav-link {
            cursor: pointer;
            padding: 0 1vw;

            @include eXSmall {
                margin: 16px 0;
            }

            a {
                color: white;
                text-transform: uppercase;

                &:hover {
                    color: yellow;
                }
            }
        }
    }
}

// Hamburger menu


.hamburger {
    display: none;
    cursor: pointer;
    padding: 0 20px;
    @include eXSmall {
        display: block;

        &.active .bar:nth-child(2) {
            opacity: 0;
        }
        &.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}